@import url('https://fonts.googleapis.com/css2?family=Agu+Display&family=Fruktur:ital@0;1&family=Playwrite+VN:wght@100..400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Agu+Display&family=Fruktur:ital@0;1&family=Indie+Flower&family=Playwrite+VN:wght@100..400&family=Ribeye+Marrow&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.ssss{
  font-family: "Playwrite VN", cursive;
  /* font-optical-sizing: auto; */
}


.dooo{
  font-family: "Agu Display", serif;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body::-webkit-scrollbar-thumb{
    background-color: #e41c1c;
    display:none;
} */

.laida:hover{
    box-shadow: 0px 0px 13px 0px rgba(56, 165, 255, 1) inset;
    /* background-color: transparent; */
    
}
.abcdef:hover{
    /* box-shadow: inset 0px 0px 13px 0px rgb(58, 151, 81); */
    opacity: 0.7;
    transition: all;
}
.mainmain::-webkit-scrollbar{
    display: none;
}
.sponserText{
    background: linear-gradient(to right, red, orange, yellow);
    font-family: 'Courier New', Courier, monospace;
    -webkit-background-clip: text; /* Webkit browsers */
    background-clip: text; /* Standard */
    color: transparent; /* Make the text transparent so the background shows through */
    animation: animateText 1s; /* Apply animation */
}
.organisingcomitee {
    background: linear-gradient(to right, red, orange, yellow);
    font-family: 'Courier New', Courier, monospace;
    -webkit-background-clip: text; /* Webkit browsers */
    background-clip: text; /* Standard */
    color: transparent; /* Make the text transparent so the background shows through */
    animation: animateText 1s; /* Apply animation */
  }

  @keyframes animateText {
    0% {
      background: linear-gradient(to right, red, orange, yellow);
    }
    20% {
      background: linear-gradient(to right, red, orange, rgb(130, 130, 116));
    }
    40% {
      background: linear-gradient(to right, red, rgb(191, 35, 61), yellow);
    }
    60% {
      background: linear-gradient(to right, red, orange, yellow);
    }
    80% {
      background: linear-gradient(to right, red, orange, yellow);
    }
    100% {
      background: linear-gradient(to right, red, rgb(13, 184, 187), rgb(11, 55, 142));
    }
  }



  @import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

/* svg {
	font-family: "Russo One", sans-serif;
	width: 100%; height: 100%;
}
svg text {
	animation: stroke 5s infinite alternate;
	stroke-width: 2;
	stroke: #365FA0;
	font-size: 100px;
}
@keyframes stroke {
	0%   {
		fill: rgba(72,138,204,0); stroke: rgba(54,95,160,1);
		stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
	}
	70%  {fill: rgba(72,138,204,0); stroke: rgba(54,95,160,1); }
	80%  {fill: rgba(72,138,204,0); stroke: rgba(54,95,160,1); stroke-width: 3; }
	100% {
		fill: rgba(72,138,204,1); stroke: rgba(54,95,160,0);
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
	}
}

.wrapper {background-color: #FFFFFF}; */

.container {
  /* position: absolute; */
  /* top: 20px;  */
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 1;
}


.maintextSvg {
  display: block;
  font: 10.5em 'Montserrat', sans-serif;
  width: 100%;
  font-weight: 600;
  max-width: 960px;
  height: 200px;
}
.maintextSvg:hover{
  /* background: #000; */
}

.text-copy {
  fill: 2px;
  stroke: white;
  stroke-dasharray: 6% 29%;
  stroke-width: 5px;
  stroke-dashoffset: 0%;
  animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1) {
  stroke: aqua;
  animation-delay: -1s;
}

.text-copy:nth-child(2) {
  stroke: #840037;
  animation-delay: -2s;
}

.text-copy:nth-child(3) {
  stroke: #BD0034;
  animation-delay: 1s;
}

.text-copy:nth-child(4) {
  stroke: #BD0034;
  animation-delay: -2s;
}

.text-copy:nth-child(5) {
  stroke: #FDB731;
  animation-delay: -3s;
}


@keyframes stroke-offset {
  100% {
      stroke-dashoffset: -35%;
  }
}